/* 共用樣式 */
.card {
    margin: 5px 0;
}
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    font-size: 2em;
}
footer {
    background-color: #b8bdb5;
    padding: 10px 0;
}
footer .text-center {
    padding: 10px 0;
}
footer p {
    margin: 0;
    text-align: center;
}

/* 成員管理頁面樣式 */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
.form-control, .form-select {
    margin-bottom: 10px;
}
.btn {
    margin-bottom: 10px;
}
.table-responsive {
    margin-top: 10px;
}

/* 修正表格顯示 */
.fixed-column {
    width: 20%;
    white-space: nowrap;
}

/* 手機樣式 */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    .card-title {
        font-size: 1rem;
    }
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .table thead,
    .table tbody,
    .table tr,
    .table td,
    .table th {
        display: inline-block;
        float: none;
    }
    .table thead {
        display: block;
    }
    .table tbody {
        display: block;
        overflow-x: auto;
    }
    .table td,
    .table th {
        display: block;
    }
    .table td::before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
    }
}
